# Ambiente Virtual
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDE / Editores
.vscode/
.idea/

# Arquivos baixados / Mídia de teste
*.mp4
*.m3u8
*.ts
*.mp3
downloads/
PRT_Nexus/

# Logs e arquivos temporários
*.log