# Ambientes Virtuais
.venv/
venv/
env/

# Caches e Compilados do Python
__pycache__/
*.py[cod]
*$py.class

# PySide6 / Qt Caches
*.qrc.py

# Arquivos de IDE
.vscode/
.idea/

# Bancos de Dados e Configurações Locais
*.db
*.sqlite3
config.json